.principal {
    width: 67%;
    margin: auto;
    margin-bottom: 0%;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    /*background: url("/PRUEBAGIT/img/fondo.jpg");*/
    /*background: url("/img/fondo.jpg")*/
      background: url("/Curriculum/img/fondo.jpg");
} 

h3,h4{
    font-family: 'Merriweather', serif;
    font-size: medium;
}

h5{
    font-family: 'Merriweather', serif;
}
p{
    font-family: 'Inconsolata', monospace;
    font-size:small;
}
header {
    background-color:#87878c;
    color:black; 
}

.clase1 {
    display: flex;
    margin-bottom: -30%;
    justify-content: center;

}

.foto {
    width: 35%;
    padding: 0px 40px 0px 20px;
    /*    margin: auto; */
    margin: 0px 2px 300px 30px;
}

.educacion {
    /* justify-content: flex-end; */
    width: 65%;
    background-color:#87878c;
    margin-top: 0%;
    margin: 5px 45px 310px 10px;
    /* margin-top: 29%; */
    padding: 35px 30px 20px 50px;
    /*  display: flex;    padding: 25px 30px 20px 50px;  margin: 5px 45px 325px <-- abajo 10px;*/
}

.radio {
    border-radius: 60px;
    
}

.flex {
    display: flex;
    justify-content: center;
}

footer{
    background-color: gray;
    padding-bottom: 1px;
    text-align: center;
}
 
main {
    justify-content: space-around;
    margin-bottom: 0%;
}

.personal{
    color:white; 
}
